@charset "UTF-8";

/* 変数 */
:root {
    --darkgray: #222222;
	--white: #FFFFFF;

	/* 左右の余白 */
	--side: 6vw;
}

/* サイズの基準： 1rem = 100px */
:root {
	font-size: 100px;
}
@media (min-width: 768px) {
	:root {
		font-size: 8vw;
	}
}

/* テキストの基本設定 */
body {
    color: var(--darkgray);
    font-size: 0.16rem;
    font-family: sans-serif;
    line-height: 1.8;
    background-color: #f0e6db;
}

/* リセット/ノーマライズ/サニタイズ */
body, h1, h2, h3, p, ul, figure {
    margin: 0;
    padding: 0;
}

img {
    min-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

.sr-only {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* -------------------------ヘッダー------------------------- */
.hero {
    background-image: url(img/hero.JPG);
    background-position:  center;
    background-size: cover;
    width: 60%;
    height: 700px;
    position: relative;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 20px var(--side);
}

.catch {
    position: absolute;
    top: 500px;
    right: 30px;
    color: var(--darkgray);
    font-family: serif;
    letter-spacing: 1px;
    font-size: 0.80rem;
    z-index: 150;
    line-height: 1;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-left: var(--side);
    padding-right: var(--side);
}

.header h1 img {
    margin-top: 20px;
}

@media (min-width: 768px){
    .nav {
        position: relative;
        left: auto;
        width: auto;
        height: auto;
    }
    .nav ul{
        /* position: absolute;
        top: 200px;
        left: 30px; */
        /* display: flex; */
        margin-top: 300px;
        list-style: none;
        color: var(--darkgray);
        font-size: 0.24rem;
        line-height: 3;
        text-align: right;
        font-family: serif;
    }
    .nav ul li:not(first-child) {
        margin-left: 0.30rem;
    }

}


/* -------------------------ABOUT------------------------- */
/* -------------------------SKILL------------------------- */
/* -------------------------WORKS------------------------- */



/* ----------------お問い合わせフォーム---------------- */
.contact {
    padding: 50px;
    background-color: #EEF4F8;
    color: var(--darkgray);
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.contact h2 + p {
    font-size: 12px;
    line-height: 2.17;
    text-align: center;
}

@media (min-width: 768px) {
    .contact {
        padding: 0;
        background: none;
    }

    .contact .container {
        display: flex;
        justify-content: space-between;
        padding: 96px 9% 62px;
        box-sizing: border-box;
        background-color: #EEF4F8;
    }

    .contact h2 {
        font-size: 0.36rem;
    }

    .contact h2 + p {
        font-size: 0.14rem;
        line-height: 1.86;
    }

    .contact .form {
        flex: 1 1 auto;
        max-width: 50%;
        margin-left: 1em;
        margin-top: 0;
    }

    .contact .text {
        flex: 0 0 auto;
    }
} 

/* お問い合わせフォーム */

.form {
    margin-top: 46px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    margin-bottom: 17px;
    padding: 12px 20px 14px;
    border: solid 1px #222;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
}

.btn {
    display: block;
    width: 208px;
    margin: 0 auto;
    padding: 11px 11px 13px;
    box-sizing: border-box;
    border: solid 2px currentColor;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.form textarea {
    height: 150px;
}

.form .btn {
    width: 100%;
    margin: 0;
    border: none;
    background-color: #2E5180;
    color: #FFF;

}

@media (min-width: 768px) {
    .form .btn {
        width: 80%;
        text-align: center;
    }
}

/* -------------------------FOOTER------------------------- */

.footer {
    padding: 30px 0;
    background-color: var(--darkgray);
}

.copy {
    color: var(--white);
    font-size: 0.16rem;
    text-align: center;
}


@media (min-width: 768px) {
    .contact {
        position: relative;
        z-index: 2;
    }

    .footer {
        margin-top: -48px;
        padding: 105px 0 50px;
    }
}

@media (min-width: 768px) {}













